.wp-block-alone-myblocks {
  display: block;

  @for $i from 1 through 4 {
    &.columns-#{$i} {
      > .block-editor-inner-blocks
        > .block-editor-block-list__layout
        > [data-type="alone/myblock"] {
        width: calc(100% / $i - 10px);
      }
    }
  }

  > .block-editor-inner-blocks > .block-editor-block-list__layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  > .block-editor-inner-blocks
    > .block-editor-block-list__layout
    > [data-type="alone/myblock"] {
    .image.is-loading img {
      opacity: 0.2;
    }

    .image.is-loading {
      position: relative;
    }

    .components-spinner {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      position: absolute;
    }
  }
}
